<div class="cartScroll">
  ${{data.cart.totalPrice}}
  Your cart has {{data.items.length}} items in it. Review them here
  <ul>
    {{#each data.items}}
    <li>
      {{this.title}}
      <div >
        <img class="allItemsImage" src="{{this.image}}"/>
      </div>
    </li>
    {{/each}}
  <ul>
</div>