<section>
  <ul class="listing">
    {{#each category}}
      <li>
        <div class="cta">
          <a href="/items/{{this.id}}/">
            <img class="allItemsImage" src="{{this.image}}" title="Click Here To View Options"/>
          </a>
          <div class="allItemsText">
            <p>{{this.title}}<br>${{this.price}}</p>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</section>