{{#if data.user.isAdmin}}
<div>YOU ARE ADMIN</div>
{{else}}
<div>YOU ARE A USER</div>
{{/if}}
{{!-- <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>/homepage/:username</title>
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: /homepage/:username;
		--web-view-id: homepageusername;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: homepageusername;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#homepageusername {
		position: absolute;
		width: 1024px;
		height: 1366px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: /homepage/:username;
		--web-view-id: homepageusername;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#color_f {
		position: absolute;
		width: 1487.538px;
		height: 891.211px;
		left: -56.664px;
		top: 0px;
		overflow: visible;
	}
	#Path_9_g {
		fill: rgba(188,171,221,1);
	}
	.Path_9_g {
		overflow: visible;
		position: absolute;
		width: 1487.538px;
		height: 891.211px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#logo_h {
		position: absolute;
		width: 110px;
		height: 107px;
		left: 837px;
		top: 55px;
		overflow: visible;
	}
	#Logo_j {
		position: absolute;
		width: 110px;
		height: 107px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ellipse_2_j {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_2_j {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 128px;
		height: 125px;
		left: 0px;
		top: 0px;
	}
	#Logo_k {
		left: 33px;
		top: 42px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: left;
		font-family: .AppleSystemUIFont;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#homepageBanner_l {
		position: absolute;
		width: 832px;
		height: 249px;
		left: 96px;
		top: 321px;
		overflow: visible;
	}
	#Path_4_m {
		fill: rgba(0,0,0,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_m {
		overflow: visible;
		position: absolute;
		width: 832px;
		height: 249px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_5_n {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_5_n {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 797px;
		top: 208px;
	}
	#Ellipse_6_o {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_6_o {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 757px;
		top: 208px;
	}
	#Ellipse_7_p {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_7_p {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 717px;
		top: 208px;
	}
	#Ellipse_8_q {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_8_q {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 677px;
		top: 208px;
	}
	#itemPopular_r {
		position: absolute;
		width: 150px;
		height: 145px;
		left: 236.989px;
		top: 702.213px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: __category_items.html;
		cursor: pointer;
	}
	#Subtraction_2_s {
		fill: rgba(255,255,255,1);
	}
	.Subtraction_2_s {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 168px;
		height: 133.001px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ITEM_u {
		left: 52px;
		top: 122px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#itemPopular_u {
		position: absolute;
		width: 150px;
		height: 145px;
		left: 637.01px;
		top: 702.213px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: __category_items.html;
		cursor: pointer;
	}
	#Subtraction_2_v {
		fill: rgba(255,255,255,1);
	}
	.Subtraction_2_v {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 168px;
		height: 133.001px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ITEM_w {
		left: 52px;
		top: 122px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#itemPopular_x {
		position: absolute;
		width: 150px;
		height: 145px;
		left: 236.989px;
		top: 907.213px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: __category_items.html;
		cursor: pointer;
	}
	#Subtraction_2_y {
		fill: rgba(255,255,255,1);
	}
	.Subtraction_2_y {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 168px;
		height: 133.001px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ITEM_z {
		left: 52px;
		top: 122px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#itemPopular_ {
		position: absolute;
		width: 150px;
		height: 145px;
		left: 637.01px;
		top: 907.213px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: __category_items.html;
		cursor: pointer;
	}
	#Subtraction_2_ {
		fill: rgba(255,255,255,1);
	}
	.Subtraction_2_ {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 168px;
		height: 133.001px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ITEM_ {
		left: 52px;
		top: 122px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Icon_feather-shopping-cart_a {
		position: absolute;
		width: 68.352px;
		height: 45px;
		left: 716px;
		top: 86px;
		overflow: visible;
	}
	#Path_1_a {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_1_a {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 6px;
		left: 22.873px;
		top: 42px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2_a {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2_a {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 6px;
		left: 62.352px;
		top: 42px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_3_a {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3_a {
		overflow: visible;
		position: absolute;
		width: 71.352px;
		height: 39.001px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#hamburgerOpen_a {
		position: absolute;
		width: 80px;
		height: 50px;
		left: 83px;
		top: 83.5px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: _menuLoggedIn.html;
		cursor: pointer;
	}
	#Path_37_ {
		fill: rgba(0,0,0,1);
	}
	.Path_37_ {
		overflow: visible;
		position: absolute;
		width: 80px;
		height: 2.25px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_38_ {
		fill: rgba(0,0,0,1);
	}
	.Path_38_ {
		overflow: visible;
		position: absolute;
		width: 80px;
		height: 2.25px;
		left: 0px;
		top: 23.875px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_39_a {
		fill: rgba(0,0,0,1);
	}
	.Path_39_a {
		overflow: visible;
		position: absolute;
		width: 80px;
		height: 2.25px;
		left: 0px;
		top: 47.75px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>

</head>
<body>
<div id="homepageusername">
	<div id="color_f" class="color">
		<svg class="Path_9_g" viewBox="439.308 13.352 1487.538 891.211">
			<path id="Path_9_g" d="M 439.3076477050781 13.35159397125244 L 1918.67919921875 218.8209228515625 L 1926.845336914062 904.5630493164062 L 643.7806396484375 744.9196166992188 L 439.3076477050781 13.35159397125244 Z">
			</path>
		</svg>
	</div>
	<div id="logo_h" class="logo">
		<div id="Logo_j">
			<svg class="Ellipse_2_j">
				<ellipse id="Ellipse_2_j" rx="55" ry="53.5" cx="55" cy="53.5">
				</ellipse>
			</svg>
		</div>
		<div id="Logo_k">
			<span>Logo</span>
		</div>
	</div>
	<div id="homepageBanner_l" class="homepageBanner">
		<svg class="Path_4_m" viewBox="0 0 832 249">
			<path id="Path_4_m" d="M 0 0 L 385.8675842285156 0 L 832 0 L 832 249 L 0 249 L 0 0 Z">
			</path>
		</svg>
		<svg class="Ellipse_5_n">
			<ellipse id="Ellipse_5_n" rx="15" ry="15" cx="15" cy="15">
			</ellipse>
		</svg>
		<svg class="Ellipse_6_o">
			<ellipse id="Ellipse_6_o" rx="15" ry="15" cx="15" cy="15">
			</ellipse>
		</svg>
		<svg class="Ellipse_7_p">
			<ellipse id="Ellipse_7_p" rx="15" ry="15" cx="15" cy="15">
			</ellipse>
		</svg>
		<svg class="Ellipse_8_q">
			<ellipse id="Ellipse_8_q" rx="15" ry="15" cx="15" cy="15">
			</ellipse>
		</svg>
	</div>
	<div onclick="application.goToTargetView(event)" id="itemPopular_r" class="itemPopular">
		<svg class="Subtraction_2_s" viewBox="0 0 150 115.001">
			<path id="Subtraction_2_s" d="M 139.0749053955078 115.0007095336914 L 139.0751953125 115.0002212524414 L 10.92506885528564 115.0002212524414 C 7.416469097137451 109.1973495483398 4.704414844512939 102.9508895874023 2.863414764404297 96.433837890625 C 0.9633966088294983 89.70790863037109 1.476273973821662e-05 82.71776580810547 1.476273973821662e-05 75.65760040283203 C 1.476273973821662e-05 65.44398498535156 1.983014822006226 55.53583908081055 5.893923759460449 46.20836639404297 C 7.773651123046875 41.72529220581055 10.10017871856689 37.40142059326172 12.80890560150146 33.35681915283203 C 15.4919605255127 29.35058403015137 18.57321548461914 25.58332824707031 21.96710586547852 22.15969276428223 C 25.36099624633789 18.73601913452148 29.09550476074219 15.62774753570557 33.06688690185547 12.92120170593262 C 37.0763053894043 10.18871116638184 41.36257934570312 7.84178352355957 45.8066520690918 5.945583343505859 C 55.052978515625 2.000383615493774 64.87492370605469 1.682905690358893e-06 74.99968719482422 1.682905690358893e-06 C 85.12467193603516 1.682905690358893e-06 94.94681549072266 2.000383615493774 104.1933059692383 5.945583343505859 C 108.6374130249023 7.84178352355957 112.9237442016602 10.18871116638184 116.9332122802734 12.92120170593262 C 120.9046325683594 15.62774753570557 124.6391754150391 18.73601913452148 128.0331115722656 22.15969276428223 C 131.4270477294922 25.58336448669434 134.5083465576172 29.35063743591309 137.1913757324219 33.35681915283203 C 139.9001312255859 37.40143966674805 142.2266693115234 41.72531127929688 144.1063995361328 46.20836639404297 C 148.0173187255859 55.53583908081055 150.0003204345703 65.44400024414062 150.0003204345703 75.65760040283203 C 150.0003204345703 82.71775054931641 149.0369262695312 89.70789337158203 147.1369018554688 96.433837890625 C 145.2957000732422 102.9514770507812 142.5833587646484 109.198112487793 139.0751953125 115.0002212524414 L 139.0749053955078 115.0007095336914 Z">
			</path>
		</svg>
		<div id="ITEM_u">
			<span>ITEM</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="itemPopular_u" class="itemPopular">
		<svg class="Subtraction_2_v" viewBox="0 0 150 115.001">
			<path id="Subtraction_2_v" d="M 139.0749053955078 115.0007095336914 L 139.0751953125 115.0002212524414 L 10.92506885528564 115.0002212524414 C 7.416469097137451 109.1973495483398 4.704414844512939 102.9508895874023 2.863414764404297 96.433837890625 C 0.9633966088294983 89.70790863037109 1.476273973821662e-05 82.71776580810547 1.476273973821662e-05 75.65760040283203 C 1.476273973821662e-05 65.44398498535156 1.983014822006226 55.53583908081055 5.893923759460449 46.20836639404297 C 7.773651123046875 41.72529220581055 10.10017871856689 37.40142059326172 12.80890560150146 33.35681915283203 C 15.4919605255127 29.35058403015137 18.57321548461914 25.58332824707031 21.96710586547852 22.15969276428223 C 25.36099624633789 18.73601913452148 29.09550476074219 15.62774753570557 33.06688690185547 12.92120170593262 C 37.0763053894043 10.18871116638184 41.36257934570312 7.84178352355957 45.8066520690918 5.945583343505859 C 55.052978515625 2.000383615493774 64.87492370605469 1.682905690358893e-06 74.99968719482422 1.682905690358893e-06 C 85.12467193603516 1.682905690358893e-06 94.94681549072266 2.000383615493774 104.1933059692383 5.945583343505859 C 108.6374130249023 7.84178352355957 112.9237442016602 10.18871116638184 116.9332122802734 12.92120170593262 C 120.9046325683594 15.62774753570557 124.6391754150391 18.73601913452148 128.0331115722656 22.15969276428223 C 131.4270477294922 25.58336448669434 134.5083465576172 29.35063743591309 137.1913757324219 33.35681915283203 C 139.9001312255859 37.40143966674805 142.2266693115234 41.72531127929688 144.1063995361328 46.20836639404297 C 148.0173187255859 55.53583908081055 150.0003204345703 65.44400024414062 150.0003204345703 75.65760040283203 C 150.0003204345703 82.71775054931641 149.0369262695312 89.70789337158203 147.1369018554688 96.433837890625 C 145.2957000732422 102.9514770507812 142.5833587646484 109.198112487793 139.0751953125 115.0002212524414 L 139.0749053955078 115.0007095336914 Z">
			</path>
		</svg>
		<div id="ITEM_w">
			<span>ITEM</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="itemPopular_x" class="itemPopular">
		<svg class="Subtraction_2_y" viewBox="0 0 150 115.001">
			<path id="Subtraction_2_y" d="M 139.0749053955078 115.0007095336914 L 139.0751953125 115.0002212524414 L 10.92506885528564 115.0002212524414 C 7.416469097137451 109.1973495483398 4.704414844512939 102.9508895874023 2.863414764404297 96.433837890625 C 0.9633966088294983 89.70790863037109 1.476273973821662e-05 82.71776580810547 1.476273973821662e-05 75.65760040283203 C 1.476273973821662e-05 65.44398498535156 1.983014822006226 55.53583908081055 5.893923759460449 46.20836639404297 C 7.773651123046875 41.72529220581055 10.10017871856689 37.40142059326172 12.80890560150146 33.35681915283203 C 15.4919605255127 29.35058403015137 18.57321548461914 25.58332824707031 21.96710586547852 22.15969276428223 C 25.36099624633789 18.73601913452148 29.09550476074219 15.62774753570557 33.06688690185547 12.92120170593262 C 37.0763053894043 10.18871116638184 41.36257934570312 7.84178352355957 45.8066520690918 5.945583343505859 C 55.052978515625 2.000383615493774 64.87492370605469 1.682905690358893e-06 74.99968719482422 1.682905690358893e-06 C 85.12467193603516 1.682905690358893e-06 94.94681549072266 2.000383615493774 104.1933059692383 5.945583343505859 C 108.6374130249023 7.84178352355957 112.9237442016602 10.18871116638184 116.9332122802734 12.92120170593262 C 120.9046325683594 15.62774753570557 124.6391754150391 18.73601913452148 128.0331115722656 22.15969276428223 C 131.4270477294922 25.58336448669434 134.5083465576172 29.35063743591309 137.1913757324219 33.35681915283203 C 139.9001312255859 37.40143966674805 142.2266693115234 41.72531127929688 144.1063995361328 46.20836639404297 C 148.0173187255859 55.53583908081055 150.0003204345703 65.44400024414062 150.0003204345703 75.65760040283203 C 150.0003204345703 82.71775054931641 149.0369262695312 89.70789337158203 147.1369018554688 96.433837890625 C 145.2957000732422 102.9514770507812 142.5833587646484 109.198112487793 139.0751953125 115.0002212524414 L 139.0749053955078 115.0007095336914 Z">
			</path>
		</svg>
		<div id="ITEM_z">
			<span>ITEM</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="itemPopular_" class="itemPopular">
		<svg class="Subtraction_2_" viewBox="0 0 150 115.001">
			<path id="Subtraction_2_" d="M 139.0749053955078 115.0007095336914 L 139.0751953125 115.0002212524414 L 10.92506885528564 115.0002212524414 C 7.416469097137451 109.1973495483398 4.704414844512939 102.9508895874023 2.863414764404297 96.433837890625 C 0.9633966088294983 89.70790863037109 1.476273973821662e-05 82.71776580810547 1.476273973821662e-05 75.65760040283203 C 1.476273973821662e-05 65.44398498535156 1.983014822006226 55.53583908081055 5.893923759460449 46.20836639404297 C 7.773651123046875 41.72529220581055 10.10017871856689 37.40142059326172 12.80890560150146 33.35681915283203 C 15.4919605255127 29.35058403015137 18.57321548461914 25.58332824707031 21.96710586547852 22.15969276428223 C 25.36099624633789 18.73601913452148 29.09550476074219 15.62774753570557 33.06688690185547 12.92120170593262 C 37.0763053894043 10.18871116638184 41.36257934570312 7.84178352355957 45.8066520690918 5.945583343505859 C 55.052978515625 2.000383615493774 64.87492370605469 1.682905690358893e-06 74.99968719482422 1.682905690358893e-06 C 85.12467193603516 1.682905690358893e-06 94.94681549072266 2.000383615493774 104.1933059692383 5.945583343505859 C 108.6374130249023 7.84178352355957 112.9237442016602 10.18871116638184 116.9332122802734 12.92120170593262 C 120.9046325683594 15.62774753570557 124.6391754150391 18.73601913452148 128.0331115722656 22.15969276428223 C 131.4270477294922 25.58336448669434 134.5083465576172 29.35063743591309 137.1913757324219 33.35681915283203 C 139.9001312255859 37.40143966674805 142.2266693115234 41.72531127929688 144.1063995361328 46.20836639404297 C 148.0173187255859 55.53583908081055 150.0003204345703 65.44400024414062 150.0003204345703 75.65760040283203 C 150.0003204345703 82.71775054931641 149.0369262695312 89.70789337158203 147.1369018554688 96.433837890625 C 145.2957000732422 102.9514770507812 142.5833587646484 109.198112487793 139.0751953125 115.0002212524414 L 139.0749053955078 115.0007095336914 Z">
			</path>
		</svg>
		<div id="ITEM_">
			<span>ITEM</span>
		</div>
	</div>
	<div id="Icon_feather-shopping-cart_a" class="Icon_feather_shopping_cart">
		<svg class="Path_1_a" viewBox="12 30 3 3">
			<path id="Path_1_a" d="M 15 31.5 C 15 32.32842636108398 14.3284273147583 33 13.5 33 C 12.6715726852417 33 12 32.32842636108398 12 31.5 C 12 30.67157363891602 12.6715726852417 30 13.5 30 C 14.3284273147583 30 15 30.67157363891602 15 31.5 Z">
			</path>
		</svg>
		<svg class="Path_2_a" viewBox="28.5 30 3 3">
			<path id="Path_2_a" d="M 31.5 31.5 C 31.5 32.32842636108398 30.82842636108398 33 30 33 C 29.17157363891602 33 28.5 32.32842636108398 28.5 31.5 C 28.5 30.67157363891602 29.17157363891602 30 30 30 C 30.82842636108398 30 31.5 30.67157363891602 31.5 31.5 Z">
			</path>
		</svg>
		<svg class="Path_3_a" viewBox="1.5 1.5 68.352 36.001">
			<path id="Path_3_a" d="M 1.5 1.5 L 13.92766761779785 1.5 L 22.25420570373535 33.63570022583008 C 22.84059524536133 35.91623687744141 25.45862770080566 37.54421615600586 28.46803855895996 37.49966430664062 L 58.66726684570312 37.49966430664062 C 61.67667770385742 37.54421615600586 64.29470825195312 35.91623306274414 64.88109588623047 33.63570022583008 L 69.85216522216797 13.49988842010498 L 17.03458404541016 13.49988842010498">
			</path>
		</svg>
	</div>
	<div onclick="application.goToTargetView(event)" id="hamburgerOpen_a" class="hamburgerOpen">
		<svg class="Path_37_" viewBox="4.5 10.125 80 2.25">
			<path id="Path_37_" d="M 81.16666412353516 12.375 L 7.833334922790527 12.375 C 6.000000476837158 12.375 4.500000953674316 11.86874961853027 4.500000953674316 11.25 L 4.500000953674316 11.25 C 4.500000953674316 10.63125038146973 6.000000476837158 10.125 7.833334922790527 10.125 L 81.16666412353516 10.125 C 83 10.125 84.5 10.63125038146973 84.5 11.25 L 84.5 11.25 C 84.5 11.86874961853027 83 12.375 81.16666412353516 12.375 Z">
			</path>
		</svg>
		<svg class="Path_38_" viewBox="4.5 16.875 80 2.25">
			<path id="Path_38_" d="M 81.16666412353516 19.125 L 7.833334922790527 19.125 C 6.000000476837158 19.125 4.500000953674316 18.61874961853027 4.500000953674316 18 L 4.500000953674316 18 C 4.500000953674316 17.38125038146973 6.000000476837158 16.875 7.833334922790527 16.875 L 81.16666412353516 16.875 C 83 16.875 84.5 17.38125038146973 84.5 18 L 84.5 18 C 84.5 18.61874961853027 83 19.125 81.16666412353516 19.125 Z">
			</path>
		</svg>
		<svg class="Path_39_a" viewBox="4.5 23.625 80 2.25">
			<path id="Path_39_a" d="M 81.16666412353516 25.875 L 7.833334922790527 25.875 C 6.000000476837158 25.875 4.500000953674316 25.36874961853027 4.500000953674316 24.75 L 4.500000953674316 24.75 C 4.500000953674316 24.13125038146973 6.000000476837158 23.625 7.833334922790527 23.625 L 81.16666412353516 23.625 C 83 23.625 84.5 24.13125038146973 84.5 24.75 L 84.5 24.75 C 84.5 25.36874961853027 83 25.875 81.16666412353516 25.875 Z">
			</path>
		</svg>
	</div>
</div>
</body>
</html> --}}