<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<section>
<div class="absolute">
	<svg style="width:100%;height:100%;" viewBox="0 0 1920 1920" preserveAspectRatio="none">
			<path d="
					M -50 -100 
					l 2000 300 
					l 300 1100 
					l -2150 -300 
					l 0 0 Z" style="fill: rgba(188,171,221,1)">
			</path>
	</svg>
</div>
</section>
<section class="relative" style="top: 150px">
	{{#if data.user.isAdmin}}
		<div>YOU ARE ADMIN</div>
		{{else}}
		<div>YOU ARE A USER</div>
	{{/if}}
</section>
{{!-- <section>
	<div class="w3-content w3-display-container" style="max-width:800px">
		<img class="mySlides" src="img_nature_wide.jpg" style="width:100%">
		<img class="mySlides" src="img_snow_wide.jpg" style="width:100%">
		<img class="mySlides" src="img_mountains_wide.jpg" style="width:100%">
		<div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
			<div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
			<div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
		</div>
	</div>
</section> --}}
{{!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-content w3-section" style="max-width:500px">
  <p>The w3-animate-fading class animates an element in and out (takes about 10 seconds).</p>

  <img class="mySlides w3-animate-fading" src="img_rr_01.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="img_rr_02.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="img_rr_03.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="img_rr_04.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 9000);    
}
</script> --}}
{{!-- 3d slideshow... --}}
{{!-- https://www.foolishdeveloper.com/2021/08/automatic-image-slider.html --}}