<div>
  <img class="singleItemImage" src="{{data.item.image}}"/>
  <div>
    {{data.item.title}}
  </div>
  <div>
    {{data.item.description}}
  </div>
  <a href="/items">
    <input type="button" value="Return To All Items"/>
  </a>
  {{#if data.admin}}
    <a href="/item/{{data.item.id}}/edit">
      <input type="button" value="Edit Item"/>
    </a>
  {{/if}}
</div>