<form method="POST" action="/users/{{data.user.username}}/items/{{data.item.id}}/update-item">
  <p>
    <label class="labelText">Name </label>
    <input class="inputField" type="text" name="title" placeholder="enter item name"/>
  </p>
  <p>
    <label class="labelText">Stock </label>
    <input class="inputField" type="number" name="stock" placeholder="enter how many"/>
  </p>
  <p>
    <label class="labelText">Price </label>
    <input class="inputField" type="number" name="price" placeholder="enter price"/>
  </p>
  <p>
    <label class="labelText">Description </label>
    <input class="inputField" type="text" name="description" placeholder="enter item description"/>
  </p>
  <p>
    <label class="labelText">Category </label>
    <select name="category">
      <option value="default">Select One</option>
      <option value="electronics">Electionics</option>
      <option value="clothing-male">Men's Clothing</option>
      <option value="clothing-female">Women's Clothing</option>
      <option value="jewlery">Jewlery</option>
    </select>
  </p>
  <p>
    <label class="labelText">Image Link </label>
    <input class="inputField" type="text" name="image" placeholder="enter image URL"/>
  </p>
    <input class="submitButton" type="submit" name="createUser" value="Update Item"/>
  </p>
</form>