<div class="signUpDiv">
  <form action="/users/{{data.user.username}}/update-account" method="POST">
    <p>
      {{!-- <label class="labelText">Username:</label> --}}
      <input class="inputField" name="username" type="text" placeholder="{{data.user.username}} (unable to change)" disabled/>
    </p>
    <p>
      {{!-- <label class="labelText">Full Name:</label> --}}
      <input class="inputField" name="fullName" type="text" placeholder="Enter New Full Name"/>
    </p>
    <p>
      {{!-- <label class="labelText">Email:</label> --}}
      <input class="inputField" name="email" type="email" placeholder="Enter New Email"/>
    </p>
    <p>
      {{!-- <label class="labelText">Password:</label> --}}
      <input class="inputField" name="password" type="password" placeholder="Enter New Password"/>
    </p>
    {{#if data.user.isAdmin}}
      <p>
        <label class="labelText">🎉 Congrats, you're an admin!</label>
      </p>
    {{else}}
      <p>
        <input type="checkbox" name="isAdmin">
        <label class="labelText">Make me an Admin</label>
      </p>
    {{/if}}
    <input type="submit" class="submitButton" value="Submit Change"/>
  </form>
</div>