.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.relative {
  position: relative;
  height: 80px;
  top: 0px;
}

.bannerGrid {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  /* border-style: dashed;
  border-color: darkblue; */

}

.bannerGridItem {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  /* border-style: dashed;
  border-color: lightblue; */

}

.mainCategoryButton{
  background-color:white;
  border-style: solid;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-color: lightgray;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}


.mainCategoryButton:hover {
  color: lightgray;
  transform: scale(1.1);
}

span {
  display: inline-block;
  vertical-align: middle;
}

.allItemsImage{
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid lightgray;
  text-align: center;
}

.allItemsText{
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: large;
  text-align: center;
  margin: auto;
  margin-top: auto;
}

.listing {
  list-style: none;
  margin: 2em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}

.listing li {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.listing .cta {
  padding: 10px;
  text-align: center;
}

.listing .body {
  padding: 10px;
}

.singleItemImage{
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 5%;
}

.labelText{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.inputField{
  width: 50%;
  font-size: large;
  border: solid;
  border-width: 1px;
  border-color: #E7E5E6;
  border-radius: 10px;
  background-color: #E7E5E6;
  padding: 5px;
}

.homepageGrid {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  padding: 50px;
  /* top: 100px; */
  /* border-style: dashed;
  border-color: darkblue; */
}

.homepageGridItem {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  bottom: 0px;
  /* border-style: dashed;
  border-color: lightblue; */

}
.slideshowPlaceholder {
  grid-column-start: 1;
  /* why 5 when only 4 columns...? */
  grid-column-end: 5;
  height: 300px;
  margin-bottom: 40px;
  /* border-style: dashed;
  border-color: lightgray; */
}

.popularItemsText{
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xxx-large;
  text-align: left;
  color: black;
}

.popularItemsImage{
  clip-path: url(#svgPath2);
  -webkit-clip-path: url(#svgPath2);
  position: relative;
  top: -20px;
}

/* Background svg from Adobe XD */
.backgroundHomepage {
  position: relative;
  z-index: -1;
}

.userDiv {
  display: grid;
  position: relative;
  height: 400px;
  z-index: 1;
  grid-template-columns: auto 50%;
  background-color: transparent;
  column-gap: 20px;
  padding: 10px;
}

.userDivItem {
  background-color: transparent;
  padding: 20px;
  /* height: 200px; */
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  /* height: 400px; */
}

.categorySelect {
  position: relative;
  font-size: large;
  border: solid;
  font-family: Arial, Helvetica, sans-serif;
  color:#757575;
  border-width: 1px;
  border-color: #E7E5E6;
  border-radius: 10px;
  background-color: #E7E5E6;
  padding: 4px;
  width: 52%;
  text-align: left;
}

.adminItemScroll {

  overflow-y: scroll;
  padding: 10px;
  height: 400px;
}

.signUpDiv {
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  width: 50%;
  text-align: center;
  margin: auto;
}

.homepageItemText{
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  margin: auto;
  margin-top: auto;
  transition: all 0.2s ease-in-out;
}

.homepageItemText:hover{
  color: lightgray;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: lightgrey;
  border: solid;
  border-radius: 10px;
  border-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #8490b3;
  border: solid;
  border-radius: 10px;
  border-color: #8490b3;
}

.adminItemImage{
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid lightgray;
  text-align: center;
}

.adminItemText{
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: large;
  text-align: center;
}
.adminScrollTitleText{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: black;
  text-align: left;
}

.adminScrollGrid{
  display: grid;
  position: relative;
  height: 400px;
  z-index: 1;
  grid-template-columns: 33% 33% 33%;
  background-color: transparent;
  padding: 10px;
}

.adminScrollGridItem {
  background-color: transparent;
  text-align: center;
  /* padding: 20px; */
  /* border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px; */
}

.userList{
  text-align: center;
  list-style: none;
  line-height: 40px;
}

.userFullName{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

.userInfo{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.userButtonText{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: none;
  background-color: transparent;
  /* border-color: white; */
  border-style: none;
}


.userButtons {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: none;
  background-color: transparent;
  border-style: none;
  margin: 0; 
}

.userButtons:after {
  display:block;
  content: '';
  border-bottom: solid 1px black;
  transform: scaleX(0);  
  transition: transform 200ms ease-in-out;
}

.userButtons:hover:after {
  transform: scaleX(0.15);
}

.userButtons.fromLeft:after{
  transform-origin:  0% 50%;
}

.cartScroll {
  /* width: 50%; */
  height: 400px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  overflow-y: scroll;
}

.cartScrollGrid {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: 200px auto;
  background-color: transparent;
  padding: 10px;
  /* border-style: dashed;
  border-color: darkblue; */

}

.cartScrollGridItem {
  background-color: transparent;
  padding: 20px;
  height: 200px;
  text-align: left;
  /* border-style: dashed;
  border-color: lightblue;
  border-width: 1px; */
}

.cartTotalText {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: black;
  text-align: center;
}

.cartScrollImage{
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid lightgray;
  text-align: center;
  /* padding: 10px; */
}

.itemGrid {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: 50% auto;
  background-color: transparent;
  padding: 10px;
  /* border-style: dashed;
  border-color: darkblue; */

}

.itemGridItem {
  background-color: transparent;
  padding: 20px;
  height: 400px;
  /* text-align: center; */
  /* border-style: dashed;
  border-color: lightblue;
  border-width: 1px; */
}

.itemImageView{
  height: 100%;
  /* border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px; */
  text-align: center;
}

.itemTextView {
  height: 100%;
}

.itemImageStyle {
  /* width: 100%; */
  height: 100%;
  border-radius: 10px;

}

.itemTitleStyle{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: black;
  left: 0;
  text-align: left;
}

.itemPriceStyle{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: black;
  bottom: 0;
  float: inline-end;
  text-align: right;
}

.itemCategoryStyle{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
  left: 0;
  text-align: left;
}

.itemDescriptionStyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #757575;
}

.cartGrid {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: 50% auto;
  background-color: transparent;
  padding: 10px;
  /* border-style: dashed;
  border-color: darkblue; */

}

.cartGridItem {
  background-color: transparent;
  padding: 20px;
  height: 400px;
  /* text-align: center; */
  /* border-style: dashed;
  border-color: lightblue;
  border-width: 1px; */
}

.submitButton{
  background-color:white;
  border-style: solid;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-color: lightgray;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}


.submitButton:hover {
  color: lightgray;
}

.generalText{
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: large;
  text-align: left;
  margin: auto;
  margin-top: auto;
}

/* shopping cart from Adobe XD */
#Icon_feather-shopping-cart_zo {
  position: relative;
  width: 50px;
  overflow: visible;
}

#Path_1_zp {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_1_zp {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 3px;
  left: 16px;
  top: 35px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2_zq {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2_zq {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 3px;
  left: 42px;
  top: 35px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_3_zr {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3_zr {
  overflow: visible;
  position: absolute;
  width: 50px;
  height: 40px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}

/* popular item from Adobe XD */

#Subtraction_2_v {
  fill: rgba(255,255,255,1);
}
.Subtraction_2_v {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  overflow: visible;
  position: relative;
  z-index: -1;
  width: 168px;
  height: 133.001px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}

/* 404 from Adobe XD */

#n_04 {
  position: absolute;
  width: 1024px;
  height: 1366px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: /404;
  --web-view-id: n_04;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
#Group_1_s {
  position: relative;
  width: 75%;
  vertical-align: middle;
  left: 15%;
  overflow: visible;
}
#Path_10_t {
  fill: rgba(242,242,242,1);
}
.Path_10_t {
  overflow: visible;
  position: absolute;
  width: 310.29px;
  height: 246.459px;
  left: 233.078px;
  top: 128.875px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11_u {
  fill: rgba(228,228,228,1);
}
.Path_11_u {
  overflow: visible;
  position: absolute;
  width: 569.132px;
  height: 446.563px;
  left: 130.766px;
  top: 99.27px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_12_v {
  fill: rgba(228,228,228,1);
}
.Path_12_v {
  overflow: visible;
  position: absolute;
  width: 224.78px;
  height: 95.541px;
  left: 22.51px;
  top: 145.974px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_13_w {
  fill: rgba(228,228,228,1);
}
.Path_13_w {
  overflow: visible;
  position: absolute;
  width: 278.745px;
  height: 227.603px;
  left: 558.876px;
  top: 291.956px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_14_x {
  fill: rgba(242,242,242,1);
}
.Path_14_x {
  overflow: visible;
  position: absolute;
  width: 97.371px;
  height: 33.166px;
  left: 136.438px;
  top: 163.951px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_15_y {
  fill: rgba(242,242,242,1);
}
.Path_15_y {
  overflow: visible;
  position: absolute;
  width: 3.795px;
  height: 2.935px;
  left: 132.643px;
  top: 174.358px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_16_z {
  fill: rgba(242,242,242,1);
}
.Path_16_z {
  overflow: visible;
  position: absolute;
  width: 153.268px;
  height: 175.421px;
  left: 643.547px;
  top: 311.571px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_17_ {
  fill: rgba(242,242,242,1);
}
.Path_17_ {
  overflow: visible;
  position: absolute;
  width: 25.691px;
  height: 39.697px;
  left: 342.749px;
  top: 285.94px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_18_ {
  fill: rgba(242,242,242,1);
}
.Path_18_ {
  overflow: visible;
  position: absolute;
  width: 25.691px;
  height: 39.697px;
  left: 575.749px;
  top: 488.94px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_19_ {
  fill: rgba(242,242,242,1);
}
.Path_19_ {
  overflow: visible;
  position: absolute;
  width: 25.691px;
  height: 39.697px;
  left: 110.749px;
  top: 474.94px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_9_ {
  fill: rgba(108,99,255,1);
}
.Ellipse_9_ {
  position: absolute;
  overflow: visible;
  width: 102px;
  height: 102px;
  left: 598.249px;
  top: 0px;
}
#Path_20_ {
  fill: rgba(240,240,240,1);
}
.Path_20_ {
  overflow: visible;
  position: absolute;
  width: 163.489px;
  height: 47.177px;
  left: 640.849px;
  top: 11.363px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_21_ {
  fill: rgba(240,240,240,1);
}
.Path_21_ {
  overflow: visible;
  position: absolute;
  width: 163.489px;
  height: 47.177px;
  left: 534.849px;
  top: 79.363px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_22_ {
  fill: rgba(204,204,204,1);
}
.Path_22_ {
  overflow: visible;
  position: absolute;
  width: 843.891px;
  height: 68.07px;
  left: 8.12px;
  top: 24.659px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_23_ {
  fill: rgba(63,61,86,1);
}
.Path_23_ {
  overflow: visible;
  position: absolute;
  width: 190.942px;
  height: 151.024px;
  left: 72.547px;
  top: 314.309px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_24_ {
  fill: rgba(63,61,86,1);
}
.Path_24_ {
  overflow: visible;
  position: absolute;
  width: 21.9px;
  height: 259.97px;
  left: 211.028px;
  top: 310.21px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_25_ {
  fill: rgba(63,61,86,1);
}
.Path_25_ {
  overflow: visible;
  position: absolute;
  width: 190.943px;
  height: 150.995px;
  left: 573.805px;
  top: 314.31px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_26_a {
  fill: rgba(63,61,86,1);
}
.Path_26_a {
  overflow: visible;
  position: absolute;
  width: 21.904px;
  height: 259.971px;
  left: 712.286px;
  top: 310.21px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_27_b {
  opacity: 0.2;
  fill: rgba(0,0,0,1);
}
.Path_27_b {
  overflow: visible;
  position: absolute;
  width: 173.991px;
  height: 193.291px;
  left: 342.257px;
  top: 342.644px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_28_c {
  fill: rgba(63,61,86,1);
}
.Path_28_c {
  overflow: visible;
  position: absolute;
  width: 40.534px;
  height: 88.02px;
  left: 406.198px;
  top: 452.67px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_29_d {
  fill: rgba(108,99,255,1);
}
.Path_29_d {
  overflow: visible;
  position: absolute;
  width: 65.617px;
  height: 62.815px;
  left: 412.951px;
  top: 477.845px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_30_e {
  fill: rgba(108,99,255,1);
}
.Path_30_e {
  overflow: visible;
  position: absolute;
  width: 37.334px;
  height: 88.64px;
  left: 392.246px;
  top: 452.56px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_31_f {
  fill: rgba(63,61,86,1);
}
.Path_31_f {
  overflow: visible;
  position: absolute;
  width: 218.343px;
  height: 241.041px;
  left: 313.198px;
  top: 329.984px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_32_g {
  fill: rgba(63,61,86,1);
}
.Path_32_g {
  overflow: visible;
  position: absolute;
  width: 92.986px;
  height: 162.813px;
  left: 342.115px;
  top: 376.441px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_10_h {
  fill: rgba(63,61,86,1);
}
.Ellipse_10_h {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 84.249px;
  top: 428px;
}
#Ellipse_11_i {
  fill: rgba(63,61,86,1);
}
.Ellipse_11_i {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 216.249px;
  top: 548px;
}
#Ellipse_12_j {
  fill: rgba(63,61,86,1);
}
.Ellipse_12_j {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 717.249px;
  top: 548px;
}
#Ellipse_13_k {
  fill: rgba(63,61,86,1);
}
.Ellipse_13_k {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 744.249px;
  top: 408px;
}
#Ellipse_14_l {
  fill: rgba(63,61,86,1);
}
.Ellipse_14_l {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 712.249px;
  top: 306px;
}
#Path_33_m {
  fill: rgba(63,61,86,1);
}
.Path_33_m {
  overflow: visible;
  position: absolute;
  width: 21.899px;
  height: 21.899px;
  left: 242.35px;
  top: 408.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_15_n {
  fill: rgba(63,61,86,1);
}
.Ellipse_15_n {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 473.249px;
  top: 338px;
}
#Path_34_o {
  fill: rgba(63,61,86,1);
}
.Path_34_o {
  overflow: visible;
  position: absolute;
  width: 21.899px;
  height: 21.9px;
  left: 353.35px;
  top: 338.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_35_p {
  fill: rgba(63,61,86,1);
}
.Path_35_p {
  overflow: visible;
  position: absolute;
  width: 21.898px;
  height: 21.899px;
  left: 211.35px;
  top: 306.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_16_q {
  fill: rgba(63,61,86,1);
}
.Ellipse_16_q {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 588.249px;
  top: 432px;
}
#Ellipse_17_r {
  fill: rgba(63,61,86,1);
}
.Ellipse_17_r {
  position: absolute;
  overflow: visible;
  width: 32px;
  height: 32px;
  left: 410.249px;
  top: 322px;
}
#Path_36_s {
  fill: rgba(202,202,202,1);
}
.Path_36_s {
  overflow: visible;
  position: absolute;
  width: 860.131px;
  height: 2.689px;
  left: 0px;
  top: 568.459px;
  transform: matrix(1,0,0,1,0,0);
}
#hamburgerOpen_t {
  position: absolute;
  width: 80px;
  height: 50px;
  left: 83px;
  top: 83.5px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: _menuLoggedIn.html;
  cursor: pointer;
}
#Path_37_u {
  fill: rgba(0,0,0,1);
}
.Path_37_u {
  overflow: visible;
  position: absolute;
  width: 80px;
  height: 2.25px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_38_v {
  fill: rgba(0,0,0,1);
}
.Path_38_v {
  overflow: visible;
  position: absolute;
  width: 80px;
  height: 2.25px;
  left: 0px;
  top: 23.875px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_39_w {
  fill: rgba(0,0,0,1);
}
.Path_39_w {
  overflow: visible;
  position: absolute;
  width: 80px;
  height: 2.25px;
  left: 0px;
  top: 47.75px;
  transform: matrix(1,0,0,1,0,0);
}